*venv*/
*.eggs/
build/
dist/
phaseshifts.egg-info/
libphsh.f.bak
MANIFEST

# cache
*.pyc
**/__pycache__
_skbuild/

# built binary objects
*.so
*.exe
*.DLL
*.pyd
phaseshifts/lib/libphsh
bin/phsh*

# built files and test artifacts
atorb_C.txt
phaseshifts/lib/libphsh

# log files
*.log

# docs
docs/_build/

# read-only
**/phsh0.f
**/phsh1.f
**/phsh2*.f
**/phshift2007/
**/phshift2007.zip

# testing
.coverage
**/coverage.xml
htmlcov/
