---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        args: ['--max-line-length=120']
  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
      - id: black
        args: ['--line-length=120']
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: "\\.(json|ya?ml|md|html?|css|scss|js|jsx|ts|tsx)$"
# TODO(issue): enable ruff once support for Python <= 3.10 is dropped; ruff is not Python 2.7 compatible.
# -   repo: https://github.com/astral-sh/ruff-pre-commit
#     rev: v0.9.9
#     hooks:
#     -   id: ruff
