include *.txt *.py *.rst *.md
recursive-include phaseshifts *.py *.txt *.rst *.pyw *.pyx
recursive-include phaseshifts/gui *.ui *.py *.bat *.sh *.svg *.png *.qrc
recursive-include phaseshifts/cython *
recursive-include phaseshifts/doc *
recursive-include phaseshifts/examples *.i *.txt *.inp *.sh *.py
recursive-include phaseshifts/plugins *.py *.txt *.rst
recursive-include phaseshifts/lib *.f *.c *.cpp *.h *.for *.py *.pyx
recursive-exclude phaseshifts/build *
recursive-exclude phaseshifts/dist *
recursive-include phaseshifts/res *

# TODO: Remove shared libraries from source distribution includes once numpy.distutils migration is stable
recursive-include phaseshifts/lib  *.so *.pyd

# Exclude unnecessary files for the binary distribution
exclude setup.py
exclude requirements.txt
exclude requirements-doc.txt
exclude AGENTS.md
exclude CODE_OF_CONDUCT.md
exclude MANIFEST.in
exclude README.md
exclude LICENSE.txt
